@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #A5D0E6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #A5D0E6;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
}

@layer base {
  html {
    font-size: 20px;
  }

  body {
    font-size: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-anton tracking-normal capitalize;
  }

  /* h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 1.2em;
    letter-spacing: 0px;
    text-transform: capitalize;
  } */

  h1 {
    @apply md:text-[2rem] text-[1rem];
  }

  h2 {
    @apply md:text-[1.5rem] text-[.75rem];
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 0.75rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .content {
    @apply mx-auto max-w-7xl px-4 text-[#931136] lg:text-xl md:text-xl text-sm;
  }

  .creator-header {
    @apply text-[#F6ED89]
  }

  .creator-position {
    @apply absolute bottom-0 left-0
  }
}


